* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 405px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 1031px) {
  .container {
    width: 1031px;
  }
}
@media screen and (min-width: 1310px) {
  .container {
    width: 1310px;
  }
}
body {
  /*background-color: $background-color;
  color: $text-color;*/
  font-family: "Crimson Text", serif;
  box-sizing: border-box;
  margin: 0 auto;
}

/*&__{}*/
.header {
  padding-top: 16px;
  padding-bottom: 16px;
}
.header__list {
  display: none;
}
.header__logo {
  font-weight: 400;
  font-size: 16px;
  color: #000;
  transition-property: fill;
  transition-duration: 500ms;
  transition-timing-function: ease;
}
.header__logo:hover, .header__logo:focus {
  color: #8e9a82;
}

/*&__{}*/
@media screen and (min-width: 1031px) {
  .header {
    padding-top: 46px;
    padding-bottom: 46px;
  }
  .header__list {
    display: flex;
    gap: 50px;
  }
  .header__link {
    font-weight: 400;
    font-size: 16px;
    color: #000;
    transition-property: fill;
    transition-duration: 500ms;
    transition-timing-function: ease;
  }
  .header__link:hover, .header__link:focus {
    color: #8e9a82;
  }
  .header__wrap {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1310px) {
  .header {
    padding-top: 61px;
    padding-bottom: 61px;
  }
  .header__list {
    gap: 74px;
  }
}
/*&__{}*/
.organic {
  padding-top: 16px;
  padding-bottom: 49px;
  background-color: #faf9f8;
}
.organic__title {
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0.15em;
  margin-bottom: 17px;
  text-align: center;
}
.organic__text {
  font-weight: 400;
  font-size: 14px;
}
.organic__btn {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.15em;
  background-color: #8e9a82;
  border: 1px solid #8e9a82;
  padding: 10px 30px;
  color: #fff;
  border-radius: 59px;
  margin-top: 30px;
  transition-property: backgroundcolor, color;
  transition-timing-function: ease;
  transition-duration: 500ms;
}
.organic__btn:hover, .organic__btn:focus {
  color: #8e9a82;
  background-color: #fff;
}
.organic__img {
  width: 220px;
  height: 282px;
  margin: 0 auto;
}

/*&__{}*/
@media screen and (min-width: 1031px) {
  .organic {
    padding-top: 46px;
    padding-bottom: 101px;
  }
  .organic__title {
    font-size: 48px;
    margin-bottom: 8px;
    text-align: left;
  }
  .organic__text {
    font-weight: 400;
    font-size: 20px;
  }
  .organic__btn {
    font-size: 20px;
    padding: 9px 45px;
    margin-top: 40px;
  }
  .organic__img {
    width: 320px;
    height: 330px;
  }
  .organic__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 27px;
  }
}
/*&__{}*/
@media screen and (min-width: 1310px) {
  .organic {
    padding-top: 61px;
    padding-bottom: 115px;
  }
  .organic__title {
    margin-bottom: 54px;
  }
  .organic__btn {
    margin-top: 54px;
  }
  .organic__wrap {
    gap: 145px;
  }
}
/*&__{}*/
.categories {
  padding-top: 19px;
  padding-bottom: 19px;
}
.categories__title {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.15em;
  text-align: center;
  margin-bottom: 25px;
}
.categories__img {
  width: 180px;
  height: 200px;
}
.categories__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 15px;
}

@media screen and (min-width: 1031px) {
  /*&__{}*/
  .categories {
    padding-top: 78px;
    padding-bottom: 78px;
  }
  .categories__title {
    font-size: 32px;
    margin-bottom: 62px;
    width: 311.41px;
    margin-left: auto;
    margin-right: auto;
  }
  .categories__img {
    width: 238px;
    height: 260px;
  }
  .categories__list {
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1310px) {
  .categories {
    padding-top: 93px;
    padding-bottom: 93px;
  }
  .categories__title {
    font-size: 32px;
    margin-bottom: 62px;
    width: 100%;
    text-align: center;
  }
  .categories__img {
    width: 308px;
    height: 335px;
  }
  .categories__list {
    flex-wrap: nowrap;
  }
}
/*&__{}*/
.collection {
  padding-top: 80px;
  padding-bottom: 91px;
  background-color: #dbdbdb;
}
.collection__title {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.15em;
  text-align: center;
  margin-bottom: 34px;
}
.collection__item:nth-child(1) {
  display: none;
}
.collection__item:nth-child(3) {
  display: none;
}
.collection__img {
  margin-left: auto;
  margin-right: auto;
}
.collection__text {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.15em;
  text-align: center;
  margin-top: 25px;
}

@media screen and (min-width: 1031px) {
  /*&__{}*/
  .collection {
    padding-top: 80px;
    padding-bottom: 91px;
  }
  .collection__title {
    font-size: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 79px;
    width: 263.1px;
  }
  .collection__item:nth-child(1) {
    display: block;
  }
  .collection__item:nth-child(3) {
    display: block;
  }
  .collection__list {
    display: flex;
    justify-content: space-between;
  }
  .collection__img {
    width: 261px;
    height: 263px;
  }
  .collection__text {
    font-size: 32px;
    text-align: center;
    margin-top: 47px;
  }
}
@media screen and (min-width: 1310px) {
  /*&__{}*/
  .collection {
    padding-top: 80px;
    padding-bottom: 91px;
  }
  .collection__title {
    margin-bottom: 79px;
    text-align: center;
    width: 100%;
  }
  .collection__img {
    width: 400px;
    height: 410px;
  }
  .collection__text {
    margin-top: 61px;
  }
}
/*&__{}*/
.about {
  padding-top: 24px;
  padding-bottom: 90px;
}
.about__img {
  width: 198px;
  height: 250px;
}
.about__title {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.15em;
  text-align: center;
  margin-bottom: 13px;
}
.about__text {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
.about__btn {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.15em;
  border: 5px solid #8e9a82;
  border-radius: 10px;
  padding: 15px 7px;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */