/*&__{}*/
.about {
    padding-top: 24px;
    padding-bottom: 90px;


    &__img {
        width: 198px;
        height: 250px;
    }


    &__title {
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 0.15em;
        text-align: center;
        margin-bottom: 13px;
    }

    &__text {
        color: $text-color;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        margin-bottom: 33px;
    }

    &__btn {
        background-color: $background-color;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.15em;
        border: 5px solid $btn-color;
        border-radius: 10px;
        padding: 14px 19px;
        cursor: pointer;
        display: block;
        margin: 0 auto;



    }

}


@media screen and (min-width: 1031px) {

    /*&__{}*/
    .about {
        padding-top: 68px;
        padding-bottom: 46px;

        &__wrap {
            display: flex;
            gap: 40px;
        }

        &__img {
            width: 251px;
            height: 508px;
        }


        &__title {
            font-weight: 700;
            font-size: 32px;
            margin-bottom: 29px;
            text-align: left;
        }

        &__text {
            font-size: 20px;
            margin-bottom: 53px;
            text-align: left;
        }

        &__btn {
            font-size: 20px;
            padding: 15px 21px;
            text-align: left;


        }

    }
}


@media screen and (min-width: 1310px) {

    /*&__{}*/
    .about {
        padding-top: 107px;
        padding-bottom: 69px;

        &__wrap {
            gap: 94px;
        }

        &__img {
            width: 316px;
            height: 626px;
        }


        &__title {
            margin-bottom: 37px;
        }

        &__text {
            margin-bottom: 45px;
        }

        &__btn {
            padding: 20px 27px;
            display: inline;

        }

    }
}