    /*&__{}*/
    .footer {
        padding-top: 34px;
        padding-bottom: 77px;
        background-color: $collection-color;


        &__title {
            font-weight: 700;
            font-size: 20px;
            letter-spacing: 0.15em;
            text-align: center;
            margin-bottom: 33px;
        }


        &__form {
            display: flex;
            flex-direction: column;
            margin-bottom: 64px;
            gap: 9px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }


        &__input {
            border: 5px solid $btn-color;
            border-radius: 10px;
            padding-bottom: 55px;
        }


        &__area {
            border: 5px solid $btn-color;
            border-radius: 10px;
        }

        &__btn {
            font-weight: 400;
            font-size: 15px;
            letter-spacing: 0.15em;
            text-align: center;
            padding: 14px 72px;
            border-radius: 10px;
            border: 2px solid $btn-color;
            background-color: $btn-color;
            color: $background-color;
            cursor: pointer;
            transition-property: color, backgroundcolor, border;
            transition-duration: 500ms;
            transition-timing-function: ease;


            &:hover,
            &:focus {
                color: $btn-color;
                background-color: $background-color;
                border: 2px solid $btn-color;
            }
        }


        &__img {
            width: 243px;
            height: 345px;
        }

    }



    @media screen and (min-width: 1031px) {

        /*&__{}*/
        .footer {
            padding-top: 89px;
            padding-bottom: 104px;


            &__wrap {
                display: flex;
                gap: 50px;
                align-items: center;
                justify-content: center;
            }

            &__title {
                text-align: left;
                font-size: 32px;
                margin-bottom: 31px;
            }


            &__form {
                margin-bottom: 0px;
                gap: 7px;
                width: 437px;
                margin-left: 0;
                margin-right: 0;
            }


            &__input {
                padding-bottom: 36px;
                width: 437px;

            }

            &__area {
                width: 437px;
            }

            &__btn {
                font-size: 20px;
                padding: 13px 125px;

            }


            &__img {
                width: 302px;
                height: 429px;
            }

        }

    }



    @media screen and (min-width: 1310px) {

        /*&__{}*/
        .footer {
            padding-top: 78px;
            padding-bottom: 96px;


            &__wrap {
                gap: 62px;
            }

            &__title {
                margin-bottom: 33px;
            }


            &__form {
                gap: 9px;
                width: 561px;
            }


            &__input {
                padding-bottom: 41px;
                width: 561px;

            }


            &__area {
                width: 561px;
            }


            &__btn {
                padding: 17px 59px;

            }


            &__img {
                width: 439px;
                height: 624px;
            }

        }

    }