/*&__{}*/
.header {
    padding-top: 16px;
    padding-bottom: 16px;

    &__list {
        display: none;
    }

    &__logo {
        font-weight: 400;
        font-size: 16px;
        color: $text-color;
        transition-property: fill;
        transition-duration: 500ms;
        transition-timing-function: ease;


        &:hover,
        &:focus {

            color: $btn-color;

        }

    }


}

/*&__{}*/
@media screen and (min-width: 1031px) {

    .header {
        padding-top: 46px;
        padding-bottom: 46px;

        &__list {
            display: flex;
            gap: 50px;
        }

        &__link {
            font-weight: 400;
            font-size: 16px;
            color: $text-color;
            transition-property: fill;
            transition-duration: 500ms;
            transition-timing-function: ease;


            &:hover,
            &:focus {

                color: $btn-color;

            }

        }


        &__wrap {
            display: flex;
            justify-content: space-between;
        }
    }

}


@media screen and (min-width: 1310px) {

    .header {
        padding-top: 61px;
        padding-bottom: 61px;

        &__list {

          gap: 74px;
        }

    }


}